body {
  margin: 0;
  padding: 0; 
  background-color: rgb(244, 244, 240);
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 206px 1fr; /* Una columna de 206px y una columna flexible */
  grid-template-rows: 100vh; /* Solo una fila con altura igual al 100% de la ventana */
  grid-template-areas: 
    'sidebar main'; /* Definimos las áreas de la cuadrícula */
}
/* Div fantas */
main {
  grid-area: main;
  color: black;
  overflow-y: auto;
  padding: 20px; /* Añadimos un relleno interno para separar el contenido del borde */
}
/* Sidebar */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #339128;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-top-right-radius: 7px; /* Borde redondeado en la esquina superior derecha */
  border-bottom-right-radius: 7px; /* Borde redondeado en la esquina inferior derecha */
}

#sidebar .sidebar-menu {
  padding: 0;
  list-style-type: none;
}

#sidebar .sidebar-menu .sidebar-seccion {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

#sidebar .sidebar-menu .sidebar-seccion:hover {
  background-attachment: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}


#sidebar .sidebar-menu .sidebar-seccion .sidebar-link{
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 0.5fr; /* Cambiar a una sola columna en dispositivos más pequeños */
    grid-template-areas: 
      'sidebar'
      'main'; /* Definir nuevas áreas de cuadrícula para dispositivos más pequeños */
  }
}


/* style perfil*/

/* end */
